﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach (var employee in ViewBag.Employees)
        {
            @*<div class="card" style="width: 18rem;">*@
            <div class="card col-4">
                <img class="" src="https://cdn.onlinewebfonts.com/svg/img_542942.png" style="align-self: center" width="50" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@employee.EmployeeType - @employee.FirstName @employee.LastName</h5>
                    <p class="card-text">Employee is eligable for @employee.VacationDays days of vacation</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </div>
</div>
